
[[inputs.exec]]
  commands = [
    "sudo /usr/local/bin/audio_level-telegraf.sh"
  ]

  timeout = "15s"
  data_format = "influx"
  # name_suffix = "_smartctl"
  name_override = "audio_level"

  {# json_name_key = "measurement"
  json_time_key = "time"
  json_time_format = "unix_ns"
  json_query = "fields" #}

  ## Custom tags to identify disks
  [inputs.exec.tags]
  host = "{{ ansible_fqdn }}"
  device = "audio"

  interval = "30s"
