#!/bin/bash

set -eu -o pipefail

TRIM_LENGTH="{{ telegraf_audio_level_sample_trim }}"

# Function to get device info
get_device_info() {
  local card=$1
  local device=$2
  local vendor_id
  local product_id
  local name
  vendor_id=$(cat /proc/asound/card${card}/usbid 2>/dev/null | cut -d':' -f1)
  product_id=$(cat /proc/asound/card${card}/usbid 2>/dev/null | cut -d':' -f2)
  name=$(cat /proc/asound/card${card}/id 2>/dev/null)
  { echo "$vendor_id:$product_id:$name" >&2 ; }  2> >(while read line; do echo -e "\e[31m$line\e[0m" >&2; done)
  echo "$vendor_id:$product_id:$name"
}

get_ffmpeg_info() {
  local info=$1
  local card=$2
  local device=$3
  local ffmpeg_output
  local volume
  local rate

    # Device specific overrides based on vendor:product ID
  case "$info" in
    # Jieli microphone
    "4c4a:4155:"*)
      rate=48000
      volume=100.0
      gain=20
      ffmpeg_output=$(sox -c1 \
          -t alsa plughw:${card},${device} \
          -r ${rate} \
          -b 16 \
          -e signed-integer \
          -t wav - trim 0 "${TRIM_LENGTH}" gain ${gain}  |
            ffmpeg -f wav \
              -i pipe:0 \
              -channels 1 \
              -af volumedetect -f null - 2>&1 || true)
      ;;
    # C-Media microphone - bendy boom style
    "0d8c:013c"*)
      rate=48000
      ffmpeg_output=$(ffmpeg -f alsa \
          -i plughw:${card},${device} \
          -channels 1 \
          -sample_rate ${rate} \
          -t ${TRIM_LENGTH} \
          -af volumedetect -f null - 2>&1 || true)
      ;;
    # C-Media microphone - dongle style
    "08bb:2902:"*)
      rate=48000
      # sox -t alsa default -r 44100 -c 2 -b 16 -d -t wav - trim 0 1 | some_program#
      # sox -c1 -t alsa plughw:0,0 -r 48k -t wav - trim 0 1 gain 20  | ffmpeg -f wav -i pipe:0 -channels 1  -af volumedetect -f null - 2>&1 | grep Parsed_volumed
{#      -filter:a "volume=${volume}" \#}
      ffmpeg_output=$(ffmpeg -f alsa \
          -channels 1 \
          -sample_rate ${rate} \
          -i plughw:${card},${device} \
          -t ${TRIM_LENGTH} \
          -af volumedetect -f null - 2>&1 || true)
      ;;
    *)
      # Unknown device, use defaults
      ffmpeg_output=$(ffmpeg -f alsa \
          -i plughw:${card},${device} \
          -t ${TRIM_LENGTH} \
          -af volumedetect \
          -f null - 2>&1 || true)
      ;;
  esac


  echo "${ffmpeg_output}"
}

# Find the USB microphone hardware ID
USB_MIC_CARDS=$(arecord -l | grep -E "USB PnP Sound Device|UACDemoV1.0" | sed -r 's/card ([0-9]+).*/\1/')

if [ -z "$USB_MIC_CARDS" ]; then
  echo "Error: USB PnP Sound Device not found" >&2
  exit 1
fi

# Current timestamp in nanoseconds for InfluxDB
timestamp=$(date +%s%N)

for USB_MIC_CARD in $USB_MIC_CARDS; do

# Capture stats output
device=0
info=$(get_device_info $USB_MIC_CARD $device)

ffmpeg_output=$(get_ffmpeg_info "$info" $USB_MIC_CARD $device)
if [ -n "${ffmpeg_output}" ] && [[ ! "${ffmpeg_output}" =~ "cannot open audio device" ]]; then

mean_volume=$(echo "${ffmpeg_output}" | grep "mean_volume" | awk '{print $5}')
max_volume=$(echo "${ffmpeg_output}" | grep "max_volume" | awk '{print $5}')

echo "audio_level,source=microphone,card=$USB_MIC_CARD,tool=ffmpeg mean_volume=${mean_volume},max_volume=${max_volume} ${timestamp}"

fi
done
