
[[inputs.exec]]
  commands = [
    "sudo /usr/local/bin/audio_level-telegraf.sh"
  ]

  timeout = "15s"
  data_format = "influx"
  interval = "{{ telegraf_audio_level_interval }}"

  [inputs.exec.tags]
    device = "audio"
    interval = "{{ telegraf_audio_level_interval }}"
